<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MedFlux">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title>MedFlux</title>
  <link rel="icon" type="image/png" href="../public/images/icon2.png">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>


<body>

  <header class="header text-center py-1">
    <a href="./index.html"><img src="../public/images/logo-medflux.png" alt="Logo" style="height:100px;"></a>
  </header>

  <main>

    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12">
          <a href="./filas-presenciais.html" class="back-link"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
      </div>

      <div class="text-center my-4">
        <h6>Você está na fila do hospital: <strong>1</strong></h6>
      </div>

      <section class="bg-light rounded p-4 mb-5">
        <div class="row text-center">
          <p><strong>Status da fila:</strong> Em andamento</p>
          <p><strong>Pessoas na fila:</strong> 342</p>
          <p><strong>Tipo de atendimento:</strong> ONLINE</p>
          <p><strong>Tempo de espera aproximado:</strong> ~ 8 dias</p>
          <a href="./fila-form.html" class="btn btn-primary mt-3">Entrar na fila</a>
        </div>
      </section>
      
    </div>
  </main>

  <footer class="bg-light text-center py-3 mt-5 border-top">
    <p class="mb-1">&copy; 2025 MedFlux. Todos os direitos reservados.</p>
    <p class="mb-0">
      Desenvolvido por <a href="https://github.com/NicolasIDias" target="_blank">Nicolas</a>
    </p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
</body>

</html>